Produk::create([
    'nama' => 'Tahu Kulit',
    'slug' => 'tahu-kulit',
    'harga' => 'Rp.10.000',
    'gambar' => 'Tahu-Kulit.JPEG'
])

Produk::create([
    'nama' => 'Tahu Susu',
    'slug' => 'tahu-susu',
    'harga' => 'Rp.11.000',
    'gambar' => 'Tahu-Susu.JPEG'
])

Produk::create([
    'nama' => 'Tahu Sutera',
    'slug' => 'tahu-sutera',
    'harga' => 'Rp.12.000',
    'gambar' => 'Tahu-Sutera.JPEG'
])

Produk::create([
    'nama' => 'Tahu Kedelai',
    'slug' => 'tahu-kedelai',
    'harga' => 'Rp.13.000',
    'gambar' => 'Tahu-Kedelai.JPEG'
])

Produk::create([
    'nama' => 'Tempe Bongkrek',
    'slug' => 'tempe-bongkrek',
    'harga' => 'Rp.14.000',
    'gambar' => 'Tempe-Bongkrek.JPEG'
])

Produk::create([
    'nama' => 'Tempe Bungkil',
    'slug' => 'tempe-bungkil',
    'harga' => 'Rp.15.000',
    'gambar' => 'Tempe-Bungkil.JPEG'
])

Produk::create([
    'nama' => 'Tempe Kedelai',
    'slug' => 'tempe-kedelai',
    'harga' => 'Rp.16.000',
    'gambar' => 'Tempe-Kedelai.JPEG'
])

Produk::create([
    'nama' => 'Tempe Menjes',
    'slug' => 'tempe-menjes',
    'harga' => 'Rp.13.000',
    'gambar' => 'Tempe-Menjes.JPEG'
])
